body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

textarea {
    resize: vertical;
    min-height: 165px;
}

#progress {
    width: 160px;
}

#progress .bar {
    border-radius: 2px;
    background-color: #55a419;
    height: 8px;
}

#fileInputButton {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#fileInputButton input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
    width: 150px;
}

/* Fixes for IE < 8 */
@media screen\9 {
    #fileInputButton input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

video {
    width: 48%;
    height: auto;
}

.form-group p {
    text-indent: 15px;
}