<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить видеофрагмент.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js" defer="defer"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" defer="defer"></script>
    <script src="../../../resources/js/jquery.fileupload.js" th:src="@{/resources/js/jquery.fileupload.js}"
            defer="defer"></script>
    <script src="../../../resources/js/jquery.iframe-transport.js" th:src="@{/resources/js/jquery.iframe-transport.js}"
            defer="defer"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"
            defer="defer"></script>
    <script src="../../../resources/js/addvideo.js" th:src="@{/resources/js/addvideo.js}" defer="defer"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form class="form-narrow form-horizontal" name="addVideoForm" action="#" method="post" enctype="multipart/form-data"
          th:action="@{/addvideo}" th:object="${addVideoForm}">
        <th:block th:if="${#fields.hasErrors('${addVideoForm.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <legend>Заполните описание и загрузите видеофрагмент.</legend>
            <div class="form-group">
                <label for="title" class="col-lg-2 control-label">Название</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control require" id="title" placeholder="Title" name="title"
                           th:field="*{title}"/>
                    <span class="help-block hidden" id="titleError">Поле не может быть пустым.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Описание</label>

                <div class="col-lg-10">
                    <textarea class="form-control" id="description" placeholder="Описание"
                              name="description" th:field="*{description}"></textarea>
                    <span class="help-block hidden" id="descriptionError">Неверное описание.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>Вы можете загрузить видеофайл с расширением mp4, ogv или webm и размером не более 10 Мб.</p>
                    <button id="fileInputButton" type="button" class="btn btn-primary">Выбрать файл.
                        <input id="fileupload" type="file" class="form-control" name="videoFile"
                               th:attr="data-url=@{/addvideo}" accept="video/mp4, video/webm, video/ogg"/>
                        <!--accept="video/mp4, video/avi, video/mov, video/wmv, video/3gpp, video/x-flv, video/webm, video/ogg"-->
                    </button>
                    <span class="help-block hidden" id="fileError">Выберите файл.</span>

                    <div id="progress" class="hidden">
                        <div style="margin: 10px;">
                            <span id="fileName" title=""></span>
                            <img th:src="@{/resources/images/closelabel.gif}" style="cursor: pointer; width: 11px;"
                                 src="../../../resources/images/closelabel.gif"/>
                        </div>
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button id="submitVideoForm" type="button" class="btn btn-default">Отправить.</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>