<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <p class="lead">
            Добро пожаловать на канал! Вы можете зарегистрироваться, чтобы добавлять новые ролики.
        </p>
        <!--        <p>
                    <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
                </p>-->
    </div>
    <div th:if="${!videoFiles.isEmpty()}" th:replace="fragments/video :: video">Video</div>
    <div th:replace="fragments/footer :: footer">&copy; The Static Templates</div>
    <!--th:if="${!videoFile.getTitle()}"-->
</div>
</body>
</html>