<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="footer" th:align="right">
    &copy; <span th:text="${@environment.getProperty('app.name')}"></span>
    <span th:text="${#temporals.format(#temporals.createNow(), 'dd.MM.yyyy')}">2016</span>,

</div>
</body>
</html>

