<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div class="container" th:fragment="video" th:each="videoFile : ${videoFiles}">
    <h3 th:text="${videoFile.title}"></h3>
    <video controls="controls">
        <source th:src="@{/resources/videos/}+${videoFile.fileName}" src=""/>
        <!--type="video/mp4"-->
        Ваш браузер не поддерживает video тэг.
    </video>
    <h4>Описание:</h4>

    <p th:text="${videoFile.description}"></p>
</div>

</body>
</html>